/****************/
/* index styles */
/* defines the position of the login box */
#bb_index
	 {
     padding-top: 150px;
	 margin: 0 auto;
     text-align: center;
	 }/* this is how the index image is displayed */
     
#bb_index #index_image
	 {
	 /* image path related to css file */
     margin: 0 auto;
	 background-image: url("../bb-config/login_image.gif");
	 background-repeat:no-repeat;
	 background-position:center;
     width:300px;
     height: 50px; 
	 }	
     
#bb_index #index_holder
	 {
	 /* image path related to css file */
     margin: 0px auto;
     width:300px;
     border:1px solid #A070B6;
     padding:2px;
	 }
     
#bb_index #index_holder input
	 {
	 /* image path related to css file */
     border:1px solid #A070B6;
     padding:2px;
     width: 200px;
	 }
     
#bb_index #index_holder td,
#bb_index #index_holder input,
#bb_index #index_message,
#bb_index #index_button
	{
    /* font of label and input */
    font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
    color: #202020;
    line-height: 140%;
    }
     
#bb_index #index_holder td.left
	 {
	 /* image path related to css file */
     width: 40%;
     text-align: right;
     background-color: #F2EAFF;
	 }

#bb_index #index_holder td.right
	{
	/* the right area holding the inout fields */
    width: 60%;
	}
     
#bb_index #index_button 
	{
	/* the login button */
    margin: 5px;
    padding: 1px;
    border:1px solid #A070B6;
    background-color: #F2EAFF;
    border-radius: 2px;
    -moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	}
     
#bb_index #index_message 
	 {
	 /* the color of error messages */
     color: red;
	 }
