/* CSS Document */

/* Reset and Clearfix */
* {
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Clearfix */
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* Header */
#bb_header {
	width: 100%;
}

/* Menu Reset*/
#bb_menu, #bb_admin_menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* Main Menu */
#bb_menu li {
	float: left;
	margin-right: -1px;
	margin-bottom: -1px;
}

#bb_menu li:first-child {
	margin-left: 6px;
}

/* Menu Links */
#bb_menu li button {
	display: block;
	font-size: 13px;
	letter-spacing: 0.3px;
	padding: 3px 6px 2px 6px;
	text-align: center;
	font-size: 13px;
	letter-spacing: 0.3px;
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
	border-color: #A070B6;
	font-weight: bold;
	color: #2f3036;
	background-color: #F2EAFF;
	text-decoration: none;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#bb_menu li button.chosen {
	background-color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

/* Hide Mobile Header Toggle Button*/
#bb_mobile_header {
	display: none;
}

/* Hide Label Toggle Checkbox */
#bb_menu_header input#bb_show_menu {
	display: none;
}

/* Show Menu When Invisible Checkbox is Checked */
#bb_menu_header input#bb_show_menu:checked ~ #bb_menu {
	display: block;
}

/* Line Under Tabs */
#bb_line {
	width: 100%;
	border-top: 1px solid #A070B6;
}

/* Display Module */
#bb_wrapper {
	margin: 6px;
}

#bb_content {
	margin: 4px 0;
}

#bb_admin_content {
	border-left: 1px solid #A070B6;
	border-top: 1px solid #A070B6;
	margin-top: 4px;
	padding: 4px;
	float: left;
}

/* Admin Menu */
#bb_admin_menu {
	padding: 4px 4px 4px 0;
	float: left;
}

#bb_admin_menu li button {
	display: block;
	border-radius: 0px;
	-moz-border-radius: 0px;
	border: 1px solid #A070B6;
	background-color: #F2EAFF;
	width: 150px;
	margin-bottom: -1px;
}

#bb_admin_menu li button.chosen {
	background-color: #FFFFFF;
}

/* Processing Image */
#bb_processor {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1000;
}

#bb_processor img {
	margin: 200px auto;
}

/* Responsive Styles for Pads */
@media screen and (max-width : 768px) {
	body {
		margin: 0 2px;
	}
	#bb_wrapper {
		margin: 6px 0;
	}
	#bb_admin_content {
		margin: 6px 0;
	}
	#bb_menu {
		display: block;
		border-top: 1px;
		border-right: 1px;
		border-left: 0;
		border-bottom: 0;
		border-color: #A070B6;
		border-style: solid;
		background: #F2EAFF;
	}
	#bb_menu li {
		margin-top: -1px;
	}
	#bb_menu li:first-child {
		margin-left: 0;
	}
	#bb_menu li button {
		width: 175px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
	#bb_menu li button.chosen {
		background-color: #FFFFFF;
		border-bottom: 1px solid #A070B6;
	}
	#bb_admin_menu {
		margin: 0;
		display: block;
	}
	#bb_admin_menu li {
		float: left;
		margin-right: -1px;
	}
}

/* Responsive Styles for Phones */
@media screen and (max-width : 480px) {
	body {
		margin: 0 2px;
	}

	/* Mobile Button and Header */
	#bb_mobile_header {
		display: block;
		padding: 8px;
		background-color: #A070B6;
		overflow: hidden;
	}

	/* Text Logo */
	#bb_mobile_logo {
		line-height: 24px;
		color: white;
		font-size: large;
		font-weight: bold;
		float: left;
	}

	/* Mobile Menu Button */
	#bb_mobile_button {
		float: right;
	}

	/* Pointer on Hover */
	#bb_mobile_button:hover {
		cursor: pointer;
	}

	/* Mobile Menu */
	#bb_menu {
		display: none;
		border: 0;
	}
	#bb_menu li {
		margin-bottom: -1px;
	}
	#bb_menu li:first-child {
		margin-left: 0;
	}
	#bb_menu li button {
		min-width: 140px;
		text-align: center;
		padding: 3px;
	}

	/*Make Menu Full Width*/
	#bb_menu li, #bb_menu li button {
		width: 100%;
	}
}